
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #343a40 !important;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #1c1c1c;
}